.array-container {
    margin: 10px;
}

.array-bar {
    width: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.array-bar1 {
    width: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.array-bar2 {
    width: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.blind-array-bar {
    background-color: #1d3156;
    display: inline-block;
    margin: 0 1px;
}

.compare {
    margin-top: 72px;
}

.button {
    border-radius: 100px;
    display: inline-block;
    width: 175px;
    padding: 15px;
    box-sizing: border-box;
    background: #16233b;
    color: orange;
    text-decoration: none;
    text-align: center;
    margin: 20px;
}

.text {
    color: orange;
}