.array-container {
    margin: 10px;
}

.array-bar {
    width: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.array-bar1 {
    width: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.array-bar2 {
    width: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.blind-array-bar {
    background-color: #1d3156;
    display: inline-block;
    margin: 0 1px;
}

.compare {
    margin-top: 72px;
}